#src_table {
	margin: 10px;
	width: 90%;
}
#src_table thead {
	text-align: center;
	font-size: 20px;
}
#src_table thead th {
	font-family: monospace;
	background-color: lightblue;
	color: white;
}
#src_table .cc {
	background: #E7E5DC;
}
#src_table td.c0 {
	background: #F8F8F8;
}
#src_table td.c1 {
	background: #FFFFFF;
}
#src_table td pre{
	margin: 0;
	font-family: 'Lucida Console',monospace;
}
p.c0 {
	background: #F8F8F8;
}
p.c1 {
	background: #FFFFFF;
}

h1 {
	margin: 10px;
	font-family: 'Georgia',serif;
}

blockquote {
	text-align:center;
	font-family:serif;
}

#controller_pane{
	margin: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-family: 'Verdana', sans-serif;
}
#controller_pane .condition_row{
	margin: 10px 0;
}
#news_pane {
	margin: 10px;
	font-family: Courier,monospace;
}
#display_pane {
	margin: 10px;
	min-height: 300px;
	height: auto;
}
#footer_div {
	margin: 10px;
	padding: 10px;
	border-top: 1px solid gray;
	text-align: center;
}