<?php die(); ?>
# Sinri Log Keeper Config File
#
# Note, copy this sample and rename to `slk.config`, and edit for real.
#
#######
#
# Display Setting
#
# Site Title and Header could be customized.
#
# Title, SampleProject by default
!OptionTitle SampleProject
#
# Header, SampleProject by default
!OptionHeader SampleProject
#
#######
#
# Security Setting
# 
# If need user auth with username and password,
# Set !UserAuth as ON, or OFF by default.
!OptionUserAuth OFF
#
# User Format as 
# !User USERNAME PASSWORD
# For example
!User user 123456
#
#######
#
# Log Files
#
# Format as 
# Group Pattern
# Group should not contains, or begin with a SPACE!
# 
# For example, for OS X El Capitan Apache.
Apache2 /var/log/apache2/*_log
