# Sinri Log Keeper Config File
#
#######
#
# Security Setting
# 
# If need user auth with username and password,
# Set !UserAuth as ON, or OFF by default.
!OptionUserAuth OFF
#
# User Format as 
# !User USERNAME PASSWORD
# For example
!User user 123456
#
#######
#
# Log Files
#
# Format as 
# Group Pattern
# Group should not contains, or begin with a SPACE!
# 
# For example, for OS X El Capitan Apache.
Apache2 /var/log/apache2/*_log
